body {
    font-size: .65em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Use CSS to style the page. It doesn't need to win any beauty pageants, but shouldn't be a plain white page either. Simple styling is fine here. It’s your search page, do whatever you’d like.

-----------------------------------------------------------*/

.container{
    display:table;
    width:90%;
    border-collapse: collapse;
    }

 .heading{
     font-weight: bold;
     display:table-row;
     background-color:#000;
     text-align: center;
     line-height: 25px;
     font-size: 14px;
     font-family:georgia;
     color:#fff;
     
 }
 .table-row{  
     display:table-row;
     text-align: center;
 }
 .col{ 
    display:table-cell;
     border: 1px solid #CCC;
     padding: 4px;
 }
 .rightAligned
{ 
     text-align: right;
 }

  .leftAligned
{ 
     text-align: left;
 }

 .noborder{ 

     border: none !important;
 }
